* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}



/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    /* Tipo de fuente predeterminado para el cuerpo de la página */
    margin: 0;
    /* Elimina los márgenes por defecto del cuerpo */
    padding: 0;
    /* Elimina los rellenos por defecto del cuerpo */
    box-sizing: border-box;
    /* Asegura que el modelo de caja incluya el borde en el ancho y alto total */
}

/* Estilos para la barra de navegación */
header nav {
    display: flex;
    /* Usa el modelo de caja flexible para el contenedor de la barra de navegación */
    background-color: #333;
    /* Color de fondo para la barra de navegación */
    padding: 5px;
    /* Añade relleno a la barra de navegación */
   justify-content: space-between;
    /* Distribuye los elementos a lo largo del eje principal (horizontal) */
    align-items: center;
    /* Centra los elementos verticalmente en el contenedor */
    height: 4vh;
    position: fixed;
    width: 99vw;

}


/* Estilos para los enlaces dentro de la barra de navegación */
header nav a {
    color: #fff;
    /* Color del texto de los enlaces */
    text-decoration: none;
    /* Elimina la decoración de subrayado de los enlaces */
    padding: 5px;
    /* Añade relleno a los enlaces */
    margin: 0 5px;
    /* Añade márgenes horizontales a los enlaces */
    display: inline-block;
    /* Hace que los enlaces se comporten como bloques en línea */
    font-weight: bold;
    /* Hace que el texto de los enlaces sea negrita */
    font-size: 14px;
    /* Tamaño de fuente para los enlaces */
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.5s;
}

/* Estilos para los enlaces cuando el raton pasa por encima de ellos */
header nav a:hover {
    background-color: rgb(91, 111, 143);
    /* Cambia el color de fondo al pasar el mouse por encima de los enlaces */
    border: 1px solid #fff;
    /* Añade un borde blanco al pasar el ratón por encima de los enlaces */
}

/* Estilos para las imágenes dentro de la barra de navegación */
header nav img {
    max-height: 40px;
    /* Establece la altura máxima de las imágenes */
}

/* Estilos para centrar el contenido en medio de la página */
.cabecera {
    color: lightgrey;
    /* Color del texto del contenido centrado */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/fondo_de_web.jpeg);
    background-size: cover;
    background-position: center center;
}

.cabecera .cabecera_bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}
.cabecera .cabecera_bienvenida .frase {
    font-family: "Protest Riot", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 60px;
    padding: 10px;
    
}



/* Estilos para el sushi */
#saladas .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    text-align: center;
}

#saladas .card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#saladas img {
    width: 100%;
    height: auto;
}

#saladas .contenido {
    padding: 16px;
    margin: 1vh;
    margin-top: 1vh;

}


#saladas .contenido h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

#saladas .contenido p {
    font-size: 15px;
}

#saladas .separacion {
    margin-top: 3vh;
}


/* Estilos para el apartado de postres */
#postres .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(img/fondo_de_postre_2.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#postres .card {
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#postres img {
    width: 100%;
    height: auto;
}

#postres .contenido {
    padding: 16px;
    margin: 1vh;
    margin-top: 1vh;

}

#postres .contenido h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

#postres .contenido p {
    font-size: 15px;

}

#postres .separacion {
    margin-top: 3vh;
}


#nosotros .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    padding: 15vh 0;
    
   
}
#nosotros img{ 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2) ;
}

#nosotros .card {
    width: 60vh;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

#nosotros .titulo {
    padding: 10vh 0;
    text-align: center;
    background-color: lightgray;
}

#nosotros h2 {
    text-align: center;
}

#nosotros .titulo h1 {
    color: black;
    margin: 0;

}
#nosotros .p{
    padding: 10px;
}

#nosotros .contenido {
    margin-top: 10vh;
    padding: 10px;
    line-height: 1.6;
}

#nosotros img {
    margin-left: 10vh;
}

#contacto .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-image: url(img/contac_us.jpeg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 69vh;
    color: white;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}

#contacto .contenido {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0, .7);
    width: 100%;
}

#contacto .contenido h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
    margin-bottom: 20px;
    color: white;
}

#contacto .contenido p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
}

#contacto .contenido i {
    font-size: 10vh;
    margin-right: 10px;
}

#contacto .contenido form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#contacto .contenido label {
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
    color: white;
}

#contacto .contenido input[type="email"],
#contacto .contenido textarea {
    width: 100%;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
#contacto .email{
    padding: 1vh;
    margin: 1vh;
}

#contacto .contenido input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contacto .contenido input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

footer p {
    color: #fff;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.5s;
}

footer ul li a:hover {
    display: inline-block;
    border: 1px solid #fff;
    background-color: rgb(91, 111, 143);
}